$mouse-device: '(hover:hover) and (pointer: fine)';
$touch-device: '(hover:none)';

//------FLEX-PATTERN----------------------------------------------------
%flex-column-params {
  display: flex;
  flex-direction: column;
  align-items: center;
}

//------BUTTON-ANIMATION_PATTERN---------------------------------------------------
%button-animation {
  &:hover {
    @media #{$mouse-device} {
      cursor: pointer;
    }
  }

  &:active {
    -webkit-animation: squeeze 0.05s ease-out;
    -moz-animation: squeeze 0.05s ease-out;
    animation: squeeze 0.05s ease-out;
    animation-fill-mode: forwards;
    -webkit-animation-fill-mode: forwards;
    -moz-animation-fill-mode: forwards;
  }

  @keyframes squeeze {
    0% {
      width: 100%;
      height: 100%;
    }

    100% {
      width: 92%;
      height: 92%;
    }
  }
}

//------FLEX-PATTERN----------------------------------------------------
%buttons-flex-container {
  width: 45vw;
  justify-content: space-between;
  align-content: center;
  @extend %flex-column-params;
}

//--------GAME-CONTAINER-PATTERN--------------------------------------------------
%game-container {
  background: var(--tg-theme-bg-color);
  max-width: 600px;
  max-height: 900px;
  width: 90vw;
  height: 80vh;
  border-radius: 1em;
  justify-content: center;
  @extend %flex-column-params;
}
