<div>
  <div *ngIf="loading">
    <app-loader/>
  </div>

  <div
    *ngIf="!loading"
    class="hangman-playground">

    <div class="man-container">
      <app-gallows
        *ngFor="let gallowsPart of gallowsArray"
        [ngClass]="gallowsPart.getItem()"
      />
      <app-man
        *ngFor="let bodyPart of bodyArray"
        [ngClass]="bodyPart.getIsHidden() ? bodyPart.getItem() : ''"
      />
    </div>

    <div
      class="word-container"
      [ngStyle]="gridStyle()"
    >
      <app-word
        *ngFor="let letter of wordArray"
        letterText="{{letter.getItem().toLocaleUpperCase()}}"
        isHidden="{{letter.getIsHidden()}}"
      />
    </div>

    <div class="alphabet-container">
      <app-alphabet
        *ngFor="let letter of alphabetArray"
        buttonText="{{letter.getItem()}}"
        (buttonClick)="matchLetters(letter)"
        isHidden="{{letter.getIsHidden()}}"
      />
    </div>

  </div>
</div>
