<div>
  <div *ngIf="loading">
    <app-loader/>
  </div>

  <div
    *ngIf="!loading"
    class="hangman-playground">

    <div class="man-container">
      <app-man
        *ngFor="let part of bodyPartsArray"
        [ngClass]="part"/>
    </div>

    <div class="word-container">
      <app-word *ngFor="let word of wordArray"/>
    </div>

    <div class="alphabet-container">
      <app-alphabet
        *ngFor="let letter of alphabetArray"
        buttonText="{{letter}}"
      />
    </div>

  </div>
</div>
