@import "./element-flex/column-flex.pattern";

%game-container {
  background: var(--tg-theme-bg-color);
  max-width: 600px;
  max-height: 900px;
  width: 90vw;
  height: 80vh;
  border-radius: 1em;
  justify-content: center;
  @extend %flex-column-params;
}
