@import url('https://fonts.googleapis.com/css2?family=Tektur:wght@500;600&display=swap&subset=cyrillic-ext');
@import "../../src/app/styles/patterns/element-flex/column-flex.pattern";

.wrapper {
  color: var(--tg-theme-text-color);
  min-height: 100vh;
  min-width: 100vw;
  overflow: hidden;
  justify-content: center;
  @extend %flex-column-params;
}


