<div *ngIf="!loading">
  <app-loader/>
</div>
<div
  *ngIf="loading"
  class="game-container"
>
  <div class="win-counter">
    <span class="win-counter-text">Matching Counter: {{winCount}}/{{pairsAmount}}</span>
  </div>

  <div class="memory-playground">
    <div [ngStyle]="gridStyle()">
      <div
        *ngFor="let item of randomEmoji; let currentIndex = index"
      >
        <app-memory-card
          (click)="toggleFlip(currentIndex, randomEmoji)"
          [card]="item"
        />
      </div>
    </div>
  </div>
</div>
