<div
  class="game-container"
>
  <div *ngIf="!loading">
    <app-loader/>
  </div>

  <div
    [ngStyle]="gridStyle()"
    class="memory-playground"
  >
    <div
      *ngFor="let item of randomEmoji; let currentIndex = index"
    >
      <app-memory-card
        (buttonClick)="isClicked(
        item,
        currentIndex)"
        emojiName="{{item.getName().toString()}}"
        frontEmoji="{{item.getFrontSideImg()}}"
        backEmoji="{{item.getEmoji()}}"
        firstCardState="{{this.firstCard}}"
        secondCardState="{{this.secondCard}}"
      />
    </div>
  </div>
</div>
