<div
  class="final-screen"
  [ngClass]="{
    'fadeOut' : showScreen,
    'fadeIn' : !showScreen
    }"
>
  <div class="final-screen-box">
    <div
      *ngIf="state==='defeat'"
      class="defeat-text"
    >
      <span style="--i:1">П</span>
      <span style="--i:2">О</span>
      <span style="--i:3">Р</span>
      <span style="--i:4">О</span>
      <span style="--i:5">Ж</span>
      <span style="--i:6">Е</span>
      <span style="--i:7">Н</span>
      <span style="--i:8">И</span>
      <span style="--i:9">Е</span>
      <span style="--i:10">!</span>
    </div>
    <div
      *ngIf="state==='victory'"
      class="victory-text"
    >
      <span style="--i:1">П</span>
      <span style="--i:2">О</span>
      <span style="--i:3">Б</span>
      <span style="--i:4">Е</span>
      <span style="--i:5">Д</span>
      <span style="--i:6">А</span>
      <span style="--i:7">!</span>
    </div>
    <div
      *ngIf="showButtons"
      class="final-screen-buttons"
      [ngClass]="{
    'fadeOut' : !showButtons,
    'fadeIn' : showButtons
    }"
    >
      <div class="final-screen-buttons__restart-container">
        <button
          class="final-screen-buttons__restart"
          (click)="click('restart')"
          (touchend)="touch($event, 'restart')"
        >
          Начать Заново
        </button>
      </div>
      <div class="final-screen-buttons__change-level-container">
        <button
          class="final-screen-buttons__change-level"
          (click)="click('change-level')"
          (touchend)="touch($event, 'change-level')"
        >
          Сменить Уровень
        </button>
      </div>
    </div>
  </div>
</div>
