<div
  class="final-screen"
  [ngClass]="{
    'fadeOut' : showScreen,
    'fadeIn' : !showScreen
    }"
>
  <div class="final-screen-box">
    <div
      *ngIf="state==='defeat'"
      class="defeat-text"
    >
      <span style="--i:1">D</span>
      <span style="--i:2">E</span>
      <span style="--i:3">F</span>
      <span style="--i:4">E</span>
      <span style="--i:5">A</span>
      <span style="--i:6">T</span>
      <span style="--i:10">!</span>
    </div>
    <div
      *ngIf="state==='victory'"
      class="victory-text"
    >
      <span style="--i:1">V</span>
      <span style="--i:2">I</span>
      <span style="--i:3">C</span>
      <span style="--i:4">T</span>
      <span style="--i:5">O</span>
      <span style="--i:6">R</span>
      <span style="--i:7">Y</span>
      <span style="--i:8">!</span>
    </div>
    <div
      *ngIf="showButtons"
      class="final-screen-buttons"
      [ngClass]="{
    'fadeOut' : !showButtons,
    'fadeIn' : showButtons
    }"
    >
      <div class="final-screen-buttons__restart-container">
        <button
          class="final-screen-buttons__restart"
          (click)="click('restart')"
          (touchend)="touch($event, 'restart')"
        >
          Restart
        </button>
      </div>
      <div class="final-screen-buttons__change-level-container">
        <button
          class="final-screen-buttons__change-level"
          (click)="click('change-level')"
          (touchend)="touch($event, 'change-level')"
        >
          Change Level
        </button>
      </div>
    </div>
  </div>
</div>
